.card{
    width: 150px;
    height: calc(150px * 1.4285);
    border: 1px solid black;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    left: 50px;
}

.locked{
    transform: none !important;
}

.shadow{
    box-shadow: 0px 5px 5px 7px rgba(34, 60, 80, 0.3);
}

.captured{
    cursor: pointer;
    display: none;
}

.suit{
    width: 50px;
    height: 50px;
}